@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

:root {
    --branco: #FFFFFF;    
    --texto-principal: #0B1D03;
    --cafes: #F7F1E6;
    --preco-cafe: #969696;
    --mapa: #969696;
    --redes-sociais: #1F1F1F; 
    --cinza-section: #F7F1E6; 
    --variedades-cafes: #A0996C;       
}

body{        
    margin: 0;    
    font-family: 'Playfair Display', serif;
    background-color: #F5F5F5;      
    color: var(--texto-principal);
    background-color: var(--branco);
    background-repeat: no-repeat;
    background-image: url(assets/banner/cafeteria.png);  
}

header {        
    width: 100%;
    
} 

.menus {
    display: flex;    
}

.botao-menu { 
    display: flex;   
    width: 20px;    
    margin-left: 80px; 
    margin-top: 40px;
    cursor: pointer;
}

.botao-menu img {
    display: flex;
    width: 26px;
    cursor: pointer;
}

.texto-slog h1 {     
    display: flex;
    font-size: 26px;      
    font-family: 'Playfair Display';
    color: var(--branco);
    margin-top: 40px; 
    justify-content: center;
    align-items: center;  
    margin-left: 550px; 
}

.botao-sacola {  
    display: flex;
    justify-content: flex-start;
    height: 20px;
    width: 20px; 
    margin-top: 40px;  
    cursor: pointer;        
}

.botao-sacola img {
    display: flex;
    margin-left: 500px;    
}

.container2 h2 {
    display: flex;    
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    width: 450px;
    color: var(--branco);
    margin-top: 40px;
    margin-left: 80px;    
}

.container2 p {
    display: flex;
    width: 350px;    
    font-weight: 5px;
    font-size: 24px;
    font-family: 'Open Sans';
    color: var(--branco);   
    margin-left: 80px;    
}

.menu-barra {
    display: flex;
    margin-top: 200px;   
    cursor: pointer;
    margin-left: 80px;
}

.controles {    
    display: flex;
    height: 36px; 
    margin-top: 140px;      
    color: var(--branco);  
    font-size: 16px;
    margin-left: 85px;
    cursor: pointer;  
}

.esquerdo {
    padding-left: 10px;
}
/* Fim da estilização do header */


.destaques {
    padding-top: 230px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.destaque {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-left: 70px;
    padding-top: 20px;
}

.destaque-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:100px;
    padding-left: 80px;
}

.destaque-section img {
    width: 500px;
    height: 400px;
}

.destaque img {
    width: 500px;
    height: 400px;
}

.destaque-texto {
    width: 400px;      
}

.destaque-texto h3 {
    color: var(--texto-principal);
    font-size: 40px;
}

.destaque-texto p {
    font-weight: 100;
    line-height: 24px;
    font-size: 20px;
    font-family: Open Sans;
}

.variedades {
    margin-top: 10px;
    display: flex;
    align-items: center; 
}

.variedades h3 {
    font-family: 'Playfair Display';
    padding-top: 10px;
    padding-left: 30px;
    Width:100%;
    color: var(--variedades-cafes);
    line-height: 40px;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    height: 60px;
}

.produtos {  
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    margin-top: 30px;   
}

.produto  button {
    margin-bottom:  60px;
    padding-right: 0px;
    background: #0B1D03;
    color: var(--branco);
    width: 250px;
    height: 50px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.produto {  
    width: 100%;
    border-radius: 8px;
    Width: 300px;
    margin-bottom: 50px;
    Height: 430px;
    align-items: center;
    padding-left: 20px;
    background: #F7F1E6; 
}

.produto  h6 {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 20px;
    font-weight:300;
    color: #0B1D03;
}

.produto img {
    width: 150px;
    align-items: center;
    padding-left: 70px;
}

.produto p {
    text-align: center;
}

.value{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    color: #0B1D03;
    Width: 50px;
}

.second-value {
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #969696;
    width: 60px;
    padding-left: 10px;
}


.sistemas {
    display: flex;
    margin-top: 60px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    font-family: Open, sans;
    flex-direction: row;
    justify-content: space-around;    
    align-items: center;
    text-align: center;
}

.cafe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 70px;
    background: #F5F5F5;
}

.catalogo {
    font-size: 20px;
    padding: 20px;
    width: 500px;
    height: 360px;
    line-height: 20px;
    background-image: url(assets/catalogo/catalogo-cafe.png);
    color: var(--branco);
}

.catalogo h3 {
    padding-top: 200px;
    width: 500px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 40px;
    line-height: 20px;
}

.catalogo p {
    font-family: 'Open Sans';
    font-weight: 300px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #FFFCF6;
    Width: 400px;
}

.acessorio {
    font-size: 20px;
    padding: 20px;
    width: 500px;
    height: 360px;
    line-height: 20px;
    margin-right: 60px;
    background-image: url(assets/catalogo/acessorios.png);
    color: var(--branco);    
}

.acessorio h3 {
    padding-top: 200px;
    width: 500px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 40px;
    color: var(--branco);  
}

.acessorio p{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    Width: 400px;
}

.contato {
    padding-top: 70px;
    padding-left: 10px;
    background: #F5F5F5;
    justify-content: flex-start;
    box-sizing: border-box;
}

.contato h3 {
    width: 470px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 56px;
    color: #0B1D03;
    line-height: 60px;
    padding-left: 100px;
    height: 60px;
}

form select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 330px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    height: 80px;
}

.escolha {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 100px;
    color: var(--preco-cafe);    
    height: 51px;    
    justify-content: flex-start;
    align-items: center;
    float: left;
}

form input {
    display: flex;
    flex-direction: row;
    width: 830px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    height: 45px;
    margin-left: 100px;
    justify-content: flex-start;
    align-items: center;
}

.Digi-ende {
    display: flex;
    flex-direction: row;
    margin-left: 450px;
    color:#969696;    
    justify-content: flex-start;
    align-items: center;    
}

.iframe {
    padding-left: 100px;
    padding-top: 20px;
    margin-bottom: 35px;
    align-items: center;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-section);    
}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--redes-sociais);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}   

.brand {
    display: flex;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}

.container h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.container ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container li {
    margin: 10px 0 10px 0;
    list-style: none;
    text-decoration: none;
}

.creditos {
    display: flex;
    flex-direction: row;
    margin: 60px 0 60px 0;
    align-items: flex-start;
    justify-content: center;
}

.creditos p {
    margin: 0;
    font-size: 15px;
}

.creditos img {
    margin-top: 3px;
    margin-left: 6px;
    width: 110px;
}



